body {
    width: 300px; /*задаем ширину блока*/
    height:100px; /*задаем высоту блока*/
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

