<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/resources/style.css" rel="stylesheet">
    <link href="/resources/center.css" rel="stylesheet">
    <title>Home page</title>
</head>
<body>

<a href="/website/admin-password-page" class="s11">Administrative page</a>
</br>
<a href="/website/user-page" class ="s11">User page</a>
</br>
</br>

<a href="/website/author" class="s11">About the author</a>
</br>
<a href="/website/site" class="s11">About the site</a>

</body>
</html>